.root {
  background-color: rgba(35, 35, 36, 0.8);

  font-size: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1em;

  width: 32em;
  height: 40em;
  margin: auto;

  /*
  width: 26em;
  height: 32em;
  position: absolute;
  bottom: 1em;
  right: 1em;
  */

  width: 32em;
  height: 40em;
  margin: auto;
}