.root {
  background: red;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.message {
  flex: 1;
  padding: 1em;
  font-size: 0.9em;
  border: none;
}

.send {
  font-size: 1.5em;
  padding: 0 0.6em;
  margin-bottom: -0.4em;
  cursor: pointer;
}