.root {
  font-size: 1rem;
  margin-bottom: 0.5em;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.message {
  color: white;
  border: 1px solid white;

  border-radius: 0.3em;
  padding: 0.6em;
  font-size: 0.9em;
}

.right {
  flex-direction: row-reverse;
}

.left {
  flex-direction: row;
}