.root {
  font-size: 1rem;
  margin-bottom: 0.5em;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.message {
  color: white;
  background: #232324;

  border-radius: 0.3em;
  padding: 0.6em;
  font-size: 1em;
}

.right {
  .message {
    background-color: #4158D0;
  }

  flex-direction: row-reverse;
}

.left {
  flex-direction: row;
}